In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
df = pd.read_csv('data_raw.csv')
df.head()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_22036\1108916921.py:1: DtypeWarning: Columns (80,131,138) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_raw.csv')

,CO_STB_YN,FOND_SC_CODE,SEM,NO2_STB_YN,ETHY_BENZENE_STB_YN,BENZENE_STB_YN,XYLENE_STB_YN,ITENI_RSLT_NMVL,RN_RSLT_NMVL,NAT_VNTLA_STB_YN,...,UGWTR_STB_YN_RSN,ITENI_STB_YN_RSN,NSE_STB_YN_RSN,DES_ITENI_STB_YN_RSN,BLKB_ITENI_STB_YN_RSN,PBAN_EXCP_RSN,NAT_VNTLA_STB_YN_RSN,연도,학교급코드,HS_KND_SC_NM
0,해당없음,국립,2.0,해당없음,해당없음,해당없음,해당없음,1.0,49.0,실시,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,NaN
1,적합,국립,1.0,적합,적합,적합,적합,NaN,44.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,NaN
2,적합,국립,2.0,적합,적합,적합,적합,1.1,19.0,실시,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,NaN
3,적합,국립,1.0,적합,적합,적합,적합,NaN,32.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,NaN
4,적합,공립,2.0,적합,해당없음,해당없음,해당없음,1.4,NaN,실시,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,NaN

In [89]:
# 설립 구분
df['FOND_SC_CODE'].head()

0    국립
1    국립
2    국립
3    국립
4    공립
Name: FOND_SC_CODE, dtype: object

In [90]:
# 학교 특성
df['HS_KND_SC_NM'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: HS_KND_SC_NM, dtype: object

In [91]:
colums_to_use = ['ATPT_OFCDC_ORG_NM', 'ATPT_OFCDC_ORG_CODE', 'ADRCD_NM', 'ADRCD_CD', 'LCTN_SC_CODE', 'SCHUL_CODE', 'SCHUL_NM', 'SCHUL_KND_SC_CODE', 'FOND_SC_CODE', 'PBAN_EXCP_YN', 'SEM_STR', 'AIR_BACT_STB_YN', 'AIR_BACT_RSLT_NMVL', 'AIR_BACT_RSLT_NMVL_2', 'FALL_BACT_STB_YN', 'FALL_BACT_RSLT_NMVL', 'FALL_BACT_RSLT_NMVL_2', 'MITE_STB_YN', 'MITE_RSLT_NMVL', 'MITE_RSLT_NMVL_2', 'RN_STB_YN', 'RN_RSLT_NMVL', 'RN_RSLT_NMVL_2', 'O3_STB_YN', 'O3_RSLT_NMVL', 'O3_RSLT_NMVL_2', 'ASBESTOS_STB_YN', 'ASBESTOS_RSLT_NMVL', 'ASBESTOS_RSLT_NMVL_2', '연도']

df = df[colums_to_use]
df.head()

,ATPT_OFCDC_ORG_NM,ATPT_OFCDC_ORG_CODE,ADRCD_NM,ADRCD_CD,LCTN_SC_CODE,SCHUL_CODE,SCHUL_NM,SCHUL_KND_SC_CODE,FOND_SC_CODE,PBAN_EXCP_YN,...,RN_STB_YN,RN_RSLT_NMVL,RN_RSLT_NMVL_2,O3_STB_YN,O3_RSLT_NMVL,O3_RSLT_NMVL_2,ASBESTOS_STB_YN,ASBESTOS_RSLT_NMVL,ASBESTOS_RSLT_NMVL_2,연도
0,서울특별시교육청,A000000001,서울특별시 서초구,1.165011e+09,1,S000003511,서울교육대학교부설초등학교,2,국립,N,...,적합,49.0,NaN,적합,0.010,0.020,해당없음,NaN,NaN,2022
1,서울특별시교육청,A000000001,서울특별시 서초구,1.165011e+09,1,S000003511,서울교육대학교부설초등학교,2,국립,N,...,적합,44.0,NaN,적합,0.010,NaN,적합,0.000,NaN,2022
2,서울특별시교육청,A000000001,서울특별시 종로구,1.111017e+09,1,S000003563,서울대학교사범대학부설초등학교,2,국립,N,...,적합,19.0,NaN,적합,0.001,NaN,적합,0.001,NaN,2022
3,서울특별시교육청,A000000001,서울특별시 종로구,1.111017e+09,1,S000003563,서울대학교사범대학부설초등학교,2,국립,N,...,적합,32.0,NaN,적합,0.000,NaN,적합,0.000,NaN,2022
4,서울특별시교육청,B100000001,서울특별시 강남구,1.168010e+09,1,S010000738,서울개일초등학교,2,공립,N,...,해당없음,NaN,NaN,적합,0.007,0.025,적합,0.010,NaN,2022

In [92]:
# 결측치 확인
df.isnull().sum()

ATPT_OFCDC_ORG_NM            0
ATPT_OFCDC_ORG_CODE          0
ADRCD_NM                    12
ADRCD_CD                    12
LCTN_SC_CODE                 0
SCHUL_CODE                   0
SCHUL_NM                     0
SCHUL_KND_SC_CODE            0
FOND_SC_CODE                 0
PBAN_EXCP_YN                 0
SEM_STR                    144
AIR_BACT_STB_YN            144
AIR_BACT_RSLT_NMVL         918
AIR_BACT_RSLT_NMVL_2     40725
FALL_BACT_STB_YN           144
FALL_BACT_RSLT_NMVL       9022
FALL_BACT_RSLT_NMVL_2    42633
MITE_STB_YN                144
MITE_RSLT_NMVL            2581
MITE_RSLT_NMVL_2         43600
RN_STB_YN                  144
RN_RSLT_NMVL              3968
RN_RSLT_NMVL_2           43512
O3_STB_YN                  144
O3_RSLT_NMVL              1063
O3_RSLT_NMVL_2           41439
ASBESTOS_STB_YN            144
ASBESTOS_RSLT_NMVL       25302
ASBESTOS_RSLT_NMVL_2     45808
연도                           0
dtype: int64

In [93]:
df['연도'].unique()

array([2022, 2023], dtype=int64)

In [94]:
df = df[df['연도'] == 2023]

In [95]:
df['ATPT_OFCDC_ORG_NM'].unique()

array(['서울특별시교육청', '부산광역시교육청', '대구광역시교육청', '인천광역시교육청', '광주광역시교육청',
       '대전광역시교육청', '울산광역시교육청', '세종특별자치시교육청', '경기도교육청', '강원특별자치도교육청',
       '충청북도교육청', '충청남도교육청', '전북특별자치도교육청', '전라남도교육청', '경상북도교육청',
       '경상남도교육청', '제주특별자치도교육청'], dtype=object)

In [96]:
df = df[df['ATPT_OFCDC_ORG_NM'] == '서울특별시교육청']

In [97]:
code_list = df['SCHUL_KND_SC_CODE'].unique()

for code in code_list:
    print(code)
    print(df[df['SCHUL_KND_SC_CODE'] == code].head(1)['SCHUL_NM'].values[0])
    print('------------------')

2
서울교육대학교부설초등학교
------------------
3
서울대학교사범대학부설중학교
------------------
4
국립국악고등학교
------------------
5
서울농학교
------------------
11
경동고등학교부설방송통신고등학교
------------------
25
아현중학교부설방송통신중학교
------------------

In [98]:
df = df[df['SCHUL_KND_SC_CODE'].isin([2, 3, 4])]

In [99]:
df['FOND_SC_CODE'].unique()

array(['국립', '공립', '사립'], dtype=object)

In [100]:
df = df[df['FOND_SC_CODE'].isin(['국립', '공립'])]

In [101]:
colums_to_drop = ['ATPT_OFCDC_ORG_NM', 'ATPT_OFCDC_ORG_CODE', 'FOND_SC_CODE', '연도']

df = df.drop(columns=colums_to_drop)

In [102]:
# 결측치 확인
df.isnull().sum()

ADRCD_NM                    0
ADRCD_CD                    0
LCTN_SC_CODE                0
SCHUL_CODE                  0
SCHUL_NM                    0
SCHUL_KND_SC_CODE           0
PBAN_EXCP_YN                0
SEM_STR                     1
AIR_BACT_STB_YN             1
AIR_BACT_RSLT_NMVL         40
AIR_BACT_RSLT_NMVL_2     1511
FALL_BACT_STB_YN            1
FALL_BACT_RSLT_NMVL       753
FALL_BACT_RSLT_NMVL_2    1721
MITE_STB_YN                 1
MITE_RSLT_NMVL             95
MITE_RSLT_NMVL_2         1805
RN_STB_YN                   1
RN_RSLT_NMVL              165
RN_RSLT_NMVL_2           1817
O3_STB_YN                   1
O3_RSLT_NMVL               40
O3_RSLT_NMVL_2           1520
ASBESTOS_STB_YN             1
ASBESTOS_RSLT_NMVL        903
ASBESTOS_RSLT_NMVL_2     1829
dtype: int64

In [103]:
# csv 파일로 저장
df.to_csv('data_to_use.csv', index=False, encoding='utf-8-sig')